<html>
<head>
    <link href="/stylesheets/login.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />
</head>

  <body>	
	<header class="centerlogo">
		<h1 class="logo"><a href="/"><img src="/images/oklogo.png"/></a></h1>
	</header>
    <section class="container_12 clearfix">
      <div class="grid_12">
        <div class="grid_4 prefix_4 alpha">
          <div class="box mb">
<h1>Sign up - Step 2 of 2</h1>
<%= link_to image_tag('/images/connectga.png'),@authorize_url %>

 </section>
    <footer class="container_12 clearfix">
      <section class="grid_12">
        2011 <a href="">OpenKeywords.org</a> / <a href="" >Privacy</a> / <a href="">ToS</a> / <a href="">Contact</a>
      </section>
    </footer>
</body>
</html>